/* ------------------------------------------------------------ */
/* imports and utilities */

/* 3rd-party CSS files */
@import 'vendor/h5bp-head.css';
@import 'vendor/normalize.css';
@import 'vendor/h5bp-tail.css';

/* use a more intuitive box sizing model (http://is.gd/wNVjAo) */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/* Scale down images and embedded videos so they don't overflow their parents */
img, object { max-width: 100%; }

/*	Development/layout aid. Remove the comments
	on this rule in order to draw boxes around DIVs
	and other elements used for layout. */
/* 
div, main, article, section, aside, hgroup, header, footer, address, nav {
	border: 1px solid rgba(255,0,0,0.15) !important;
	background: rgba(255,0,0,0.05) !important;		
}
*/


/* ------------------------------------------------------------ */
/* start project-specifc styles below this line */

body {
	font-family: 'Nunito', sans-serif;
	font-size: 16.5px;
	line-height: 1.5em;
	color: black;
	/*background-image: url("../img/stripes.tiff");
	background-repeat: repeat-x;
	background-attachment: fixed;
	background-position: 50% 50%;*/

}
/*	Generally, you will only want one container element in
	the document, wrapping around the main content area. 
	If you have more than one container, you are probably doing
	something wrong. 	
*/
.container {
	margin-top: 1em;
	margin-right: auto;
	margin-bottom: 1em;
	margin-left: auto;
	width: 70%;
	max-width: 1000px;
	padding: .5em;
	background-color: white;
	opacity: .93;
}

.title {
	text-align: center;
	font-size: 42px;
	font-style: italic;
}

.body {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-gap: 1em; 
}

.intro {
	grid-column: 1 / 6;
	padding-left: 1em;
}

.home_intro {
	grid-column: 1 / 7;
	padding-left: 1em;
}

.menu {
	grid-column: 6 / 7;
	text-align: center;
	font-size: 18px;
	padding-top: 1em;
}

.global {
	text-align: center;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	border-bottom: 5px #222 solid;
	font-size: 20px;
	line-height: 2em;
}

.bw-bg {
	background-image: url("../img/stripes2.png");
	background-repeat: repeat-x;
	background-attachment: fixed;
	background-position: 50% 30%;
}

.normal-bg {
	background-image: url("../img/stripes.png");
	background-repeat: repeat-x;
	background-attachment: fixed;
	background-position: 50% 30%;
}

.subtitle {
	font-style: italic;
}